#home {
  position: relative;
  bottom: 70px;
  background: url('../img/home/blueOcean.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
  height: 105vh;
  max-height: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .home__container {
    margin-top: 20px;
  }

  .home__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid $color-light-white;
  }

  .home__title,
  .home__description {
    color: $color-white;
  }

  .home__message {
    color: aliceblue;
    font-size: $font-medium;
  }

  .home__contact {
    color: $color-white;
    font-size: $font-regular;
    font-weight: $weight-bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid $color-white;
    border-radius: $size-border-radius;

    &:hover {
      a {
        text-decoration: none;
        color: $color-white;
      }
      background-color: $color-yellow;
      transition: all $animation-duration ease-in;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 450px) {
  #home .home__message {
    color: $color-white;
    font-size: $media-font-regular;
  }

  #home .home__avatar {
    width: 150px;
    height: 150px;
  }
}
