.sticky-top {
  // background-color: $color-navy;

  .d-flex {
    margin-left: auto;
  }
  .nav-item {
    text-align: center;
  }
}

.navbar-dark .navbar-nav .nav-link {
  &:hover {
    color: $color-yellow;
  }
}

// @media screen and (max-width: 450px) {
//   #nav {
//     .sticky-top {
//       background-color: $color-navy;
//     }
//   }
// }
