#work {
  .rec.rec-arrow {
    &:hover {
      color: white;
      background-color: #f48805;
    }
    color: #f48805;
  }

  .rec.rec-arrow-left {
    position: absolute;
    left: 3vw;
  }

  .rec.rec-arrow-right {
    position: absolute;
    right: 3vw;
  }

  // .lhimBS:hover:enabled,
  // .lhimBS:focus:enabled {
  //   color: white;
  //   background-color: #f48805;
  // }

  .rec-pagination {
    background: #092038;
    padding: 5px 8px;
    margin: 20px;
    border-radius: 15px;
  }

  .rec-dot_active {
    background-color: #f48805;
    box-shadow: 0 0 1px 3px #f48805;
  }

  .rec-dot {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 1px 3px rgb(190, 140, 78);
    }
  }
}

@media screen and (max-width: 450px) {
  .rec.rec-arrow-left {
    left: 0;
    transform: scale(0.7);
  }
  .rec.rec-arrow-right {
    right: 0;
    transform: scale(0.7);
  }
  .rec-pagination {
    transform: scale(0.8);
  }

  #projects__card {
    transform: scale(0.8);
  }
}
